body{
    font-family:Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 0;

}
header{
    display: flex;
    flex: 0 2 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Helvetica;
    font-size: 22px;
    border-bottom: 1px solid seashell;
    
}
a{
    color: seashell;
}
a:hover{
    opacity: 50%;
}

.logo{
    
    width: 150px;
    height: 50px;
    margin-left: 10px;    
}

ul li{
    display: inline-block;
    text-decoration: underline;
    margin-right: 20px;
}
#mission{
    display: flex;
    
    background-color: black;
    color: rgb(255, 255, 255);
    align-items: center ;

}
.mbackground{
    position: relative;
    height: 700px;
    width: 1200px;
    margin: 19px auto ;
}
.missiontext{
    position: absolute;
    vertical-align: middle;
    background-color: black;
    font-size: 20px;
    width: 100%;
    height: auto;
    opacity: 70%;
}
 .featured-box{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.menu{
    width: 300px;
    height: 200px;
    margin-bottom: 10px

}
#locations{
    display: inline-flex;
    background-color: black;
    color: rgb(255, 255, 255);
    align-items: center ;
    justify-content: center;
   
}

.background-location{
    position: relative;
    height: 500px;
    width: 1200px;
    margin: 19px auto ;
    display: flex;
    flex: 0 1 auto;
}
.location-head{
color: seashell;
font-weight: bold;


}
.location-text{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
   
    flex:0 2 auto;
    
}
p.oakdale, p.downtown, p.east{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 40px;
    background-color: black;
    width: 300px;
    height: 200px;
    border-radius: 2px;
    opacity: 70%;
}
br{
    margin-bottom: 10px;
}
.copyright{
    font-size: 20px;
    text-align: left;
}
.responsive {
    max-width: 100%;
    height: auto;
  }

  @media only screen and (max-width:700px){
      .logo{
          margin: 0 auto;
      }
      ul li a{
          width: 100%;
          font-size: 15px; 
      }
      li{
          text-align: center;
          margin: 0 10px;
      }
      figcaption{
          font-size: 12px;
      }
      #mission .mbackground {
          width: 100%;
      }
      .missiontext{
          font-size: 10px;
      } 
        p.oakdale, p.downtown, p.east{
          
          font-size: 8px;
          height: 120px;
          width: 80px;
          margin: 0 20px;
          padding: 5px;
      }
      footer{
          font-size: 10px;
      }
      .copyright{
          font-size: 8px ;
      }
      
  }